
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    background-color: #e5e6e6;
}

#report-wrapper {
    margin-bottom: 50px;
}

.header {
    background-color: #818592;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center; 
    box-shadow: 0 8px 6px -6px black;
}

.logo {
    margin-right: auto; 
}

.logo img {
    height: 40px; 
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center; 
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    display: inline-block;
    padding: 15px;
    color: white;
    text-decoration: none;
    background-color: #818592;
}

.navbar ul li a:hover {
    color: black;
    transition: ease-in-out all .4s; 
}

.logo, .logo-spacer {
    flex: 1; 
}

.logo-spacer {
    visibility: hidden; 
}

.navbar {
    flex: 2; 
    display: flex;
    justify-content: center; 
}

/* a {
    color: #18272F;
    position: relative;
    text-decoration: none;
} */
  
a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #18272F;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
  
a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.report {
    position: relative; 
    margin: 15px auto;
    padding: 20px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    border: 2px black solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.report label {
    font-weight: bold;
    font-size: 1.1em;
}

.report p {
    max-width: 75%;
}


.actions {
    position: absolute;
    top: 30%;
    right: 2%;
    display: flex;
    flex-direction: column;
}

.actions button {
    margin: 10px 0px; 
    height: 50px;
    width: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.actions button img {
    height: 50px;
}

.header-container {
    position: relative; 
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 10px; 
    height: 100px; 
}

.header-container h1 {
    margin: 0; 
}

.sorting-dropdown {
    position: absolute; 
    right: 10%; 
    top: 50%; 
    transform: translateY(-50%); 
    padding: 5px;
}

.edit-button{
    background-color: rgb(235, 235, 151);
    border-radius: 5px;
}

.edit-button:hover{
    background-color: rgb(214, 214, 119);
    border-radius: 5px;
}

.delete-button{
    background-color: rgb(221, 125, 125);
    border-radius: 5px;
}

.delete-button:hover{
    background-color: rgb(187, 87, 102);
    border-radius: 5px;
}

input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.form {
    max-width: 60%;
    min-width: 50%;
    padding: 10px;
    border: 2px solid rgb(132, 132, 132);
    border-radius: 4px;
    background-color: white;
    margin: 0 auto;
    margin-bottom: 50px;

}

.submitButton {
    max-width: 50%;
    font-size: large;
    background-color: rgb(235, 235, 151);
    border: 2px solid black;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 4px;
}

.submitButton:hover {
    max-width: 50%;
    background-color: rgb(214, 214, 119);
    border: 2px solid black;
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
}

#submitDeleteButton {
    background-color: rgb(212, 136, 136);
}

#submitDeleteButton:hover {
    background-color: rgb(207, 98, 98);
}

#submitCreateButton {
    background-color: rgb(108, 181, 108);
}

#submitCreateButton:hover {
    background-color: rgb(80, 200, 61);
}

#messageSpan {
    margin: 0 auto;
    margin-top: 30px;
    display: inline-block;
    padding: 20px;
    border-radius: 4px;
    background-color: rgb(140, 214, 140);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#messageBox {
    text-align: center;
    
}

.hidden {
    display: none;
}

#about {
    max-width: 75%;
    margin: 0 auto;
}

#api {
    font-weight: bold;
    color: #06c;    
}

#api:hover {
    font-weight: bold;
    color: #06c; 
    transition: none;   
}